* {
    font-family: Palatino;
}

h1 {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px 10px 0px;
    margin: 0px 0px 0px;
    display: inline-block;
}

body {
    background-color: #eeeeee;
}

#div_inputs {
    width: 200px;
    margin-bottom: 30px;
}

#div_inputs label {
    float: left;
    width: 160px;
    display: block;
}

#div_inputs input {
    float: right;
    width: 25px;
    display: inline;
}

#div_submit_button input {
    float: left;
    clear: left;
    display: block;
    padding: 5px 0px 5px;
    margin: 10px 0px 0px;
    font-size: 15px;
    width: 160px;
}

.results-row{
    display: inline-block;
}

.results-row > * {
    font-size: 16px;
    display: inline-block;
}

.col-1 {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 80px;
    padding: 0px 0px 0px;
    margin: -5px 10px 0px;
    text-align: right;
}

.col-2 {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 80px;
    padding: 10px 10px 0px;
    margin: 0px 0px 0px;
}

.col-3 {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 80px;
    padding: 10px 10px 0px;
    margin: 0px 0px 0px;
}

.die-image-parent {
    position: relative;
    display: inline-block;
    margin: 0px 2px 0px;
}

.die-image-color {
    position: relative;
    top: 0px;
    left: 0px;
    width: 34px;
    height: 34px;
}

.die-image {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
}

.soldier-image {
    width: 16px;
    height: 30px;
    margin: 1px 0px 1px;
    opacity: 1;
}

.soldier-image-lost {
    width: 16px;
    height: 30px;
    margin: 1px 0px 1px;
    opacity: 0.2;
}
